*{
    margin:0;
    padding:0;
    box-sizing:border-box
    
}
.container{
    width: 100px;
   background-color: antiquewhite;
}
section{
    height: 100vh;
    width: 100vw;
}
#p1{
    height: 200px;
    width: 200px;
    background-color: red;
    margin-bottom: 10px;
    display: inline-block;
}
#p2{
    height: 200px;
    width: 200px;
    background-color: green;
    margin-bottom: 10px;
    display: inline-block;
    
}
#p3{
    height: 200px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    
}
#p4{
    height: 200px;
    width: 200px;
    background-color: red;
    margin-bottom: 10px;
}
#p5{
    height: 200px;
    width: 200px;
    background-color: green;
    margin-bottom: 10px;  
}
#p6{
    height: 200px;
    width: 200px;
    background-color: blue;    
}
.task2{
    height: 70px;
    width: 70px;
    background-color:blue;
    border: 6px solid rgb(110, 17, 22); 
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}
.task3{
    height: 70px;
    width: 70px;
    background-color: blueviolet;
    border: 6px solid rgb(110, 17, 22); 
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
}
.task4{
    height: 70px;
    width: 70px;
    background-color: blue;
    border: 6px solid yellow;
    border-radius: 60px;
    margin-right: 10px;
    display: inline-block;
}
.task5{
    height: 60px;
    width: 60px;
    background-color: blue;
    border: 6px solid yellow;
    border-radius: 20% 1% ;
    margin-right: 10px;
    display: inline-block;
}
.task6{
    height: 70px;
    width: 70px;
    background-color: blue;
    border: 6px solid yellow;
    border-radius: 90% 1% 0% ;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.task7{
    height: 70px;
    width: 70px;
    background-color: blue;
    border: 6px solid yellow;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}
.task8{
    height: 70px;
    width: 70px;
    background-color: rgb(255, 0, 43);
    border: 6px solid rgb(119, 0, 255);
    border-radius: 90% 1% 90% ;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.task9{
    height: 70px;
    width: 70px;
    background-color: rgb(0, 94, 255);
    border: 6px solid rgb(255, 0, 55);
    border-radius: 90% 90% 0% 0%;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.box{
    height: 300px;
    width: 500px;
    background-color: rgb(0, 255, 42);
    margin: 100px;
    margin-top: 200px;
    
}
.circle{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 150px;
    left: 250px;
    
}